<header>
  {% if page.day %}
    <p class="day">
      {{ page.day | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}
    </p>
  {% endif %}
  {% if page.format %}
    <p class="format">{{ page.format }}</p>
  {% endif %}
  <h1>
		{{ page.title | smartify }}
  </h1>
</header>

{% if page.due %}
  <p class="due">
    due
    {{ page.due | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}
  </p>
{% endif %}
{% if page.see %}
  {% assign post = site.topics | where: "title", page.see | first %}
  {% if post %}
    <p class="see">See <a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
  {% endif %}
{% endif %}
{% if page.description %}
<div class="description">
  {{ page.description | markdownify }}
</div>
{% endif %}

<aside>
  {% if page.topics %}
  <h2>Related Topics</h2>
  <ul class="tags">
    {% assign topics = page.topics | sort %}
    {% for topic in topics %}
      {% assign post = site.topics | where: "title", topic | first %}
      {% if post %}
        <li><a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% else %}
        <li>{{ topic }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</aside>
