{%- assign lessons = site.lessons | where: "day" , day -%}
<div class="agenda">
  {% if lessons.size > 0 -%}
    <div class="label">In Class</div>
  {%- else -%}
    <div class="label empty">No Class</div>
  {%- endif %}
  {%- for post in lessons -%}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="label">Lesson</div>
      {{ post.title | markdownify | strip_html | strip }}
      {% if post.description -%}
        <small>{{ post.description | markdownify }}</small>
      {%- endif %}
    </a>
  {%- endfor -%}
</div>
