{%- assign lessons = site.lessons | where_exp: "item" , "item.prep.size > 0" | where: "day" , day -%}
{%- assign homework = site.homework | where: "due" , day -%}
{%- assign projects = site.projects | where: "due" , day -%}
{%- assign due = homework | concat: lessons | concat: projects -%}
{% if due.size > 0 -%}
  <h2>Due Today</h2>
{%- else -%}
{%- endif %}
{%- for lesson in lessons -%}
  {%- for post in lesson.prep -%}
    {% include post/card.html compact=true %}
  {%- endfor -%}
{%- endfor -%}
{%- for post in homework -%}
  {%- assign label = post.format | default:"Homework" -%}
  {% include post/card.html label=label compact=true %}
{%- endfor -%}
{%- for post in projects -%}
  {%- assign label = "Project Due" -%}
  {% include post/card.html label=label compact=true %}
{%- endfor -%}
