{%- assign lessons = site.lessons | where_exp: "item" , "item.prep.size > 0" | where: "day" , day -%}
{%- assign homework = site.homework | where: "due" , day -%}
{%- assign projects = site.projects | where: "due" , day -%}
{%- assign due = homework | concat: lessons | concat: projects -%}
<div class="homework">
  {% if due.size > 0 -%}
    <div class="label">Due</div>
  {%- else -%}
    <div class="label empty">Nothing Due</div>
  {%- endif %}
  {%- for post in lessons -%}
    {%- for prep in post.prep -%}
      {% include schedule/_prep.html %}
    {%- endfor -%}
  {%- endfor -%}
  {%- for post in homework -%}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="label">{{ post.format | default:"Homework" }}</div>
      {{ post.title | markdownify | strip_html | strip }}
    </a>
  {%- endfor -%}
  {%- for post in projects -%}
    <div class="project project-due">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="label">Project Due</div>
        {{ post.title | markdownify | strip_html | strip }}
      </a>
    </div>
  {%- endfor -%}
</div>
