{%- assign singles = site.outcomes | where: "day" , day -%}
{%- assign repeats = site.outcomes | where_exp: "item" , "item.days contains day" -%}
{%- assign outcomes = singles | concat: repeats -%}
<div class="outcomes">
  {% if outcomes.size > 0 -%}
    <div class="label">Career Services</div>
  {%- else -%}
    <div class="label empty">No Career Services</div>
  {%- endif %}
  {%- for post in outcomes -%}
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title | markdownify | strip_html | strip }}
    </a>
  {%- endfor -%}
</div>
