<div class="projects">
  <div class="label">Workshop</div>
  {%- for post in site.projects -%}
    {%- assign post_date_xml = post.assigned | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
    {%- if post.due -%}
      {%- assign due_date_xml = post.due | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
      {%- if due_date_xml == date_xml -%}
        <div class="project project-due">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="label">Project Due</div>
            {{ post.title | markdownify | strip_html | strip }}
          </a>
        </div>
      {%- endif -%}
      {%- if post_date_xml < date_xml and date_xml < due_date_xml -%}
        <div class="project">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="label">Project</div>
            {{ post.title | markdownify | strip_html | strip }}
          </a>
        </div>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for post in site.projects -%}
    {%- assign post_date_xml = post.assigned | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
    {%- if post_date_xml == date_xml -%}
      <div class="project">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="label">Project</div>
          {{ post.title | markdownify | strip_html | strip }}
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
