<nav class="{{ include.class }}">
  {% for item in include.items -%}

    {%- assign item_url = item | prepend:"/" | append:"/" | replace:"HOME/","" -%}
    {%- assign url_parts = page.url | split:"/" -%}
    {%- assign section_slug = url_parts[1] -%}

    {%- if item_url == page.url -%}
      {%- assign c = "current" -%}
    {%- elsif item == section_slug -%}
      {%- assign c = "current" -%}
    {%- elsif item_url == "/" -%}
      {%- if page.calendar_day.size > 0 -%}
        {%- assign c = "current" -%}
      {%- elsif page.week.size > 0 -%}
        {%- assign c = "current" -%}
      {%- else -%}
        {%- assign c = "" -%}
      {%- endif -%}
    {%- else -%}
      {%- assign c = "" -%}
    {%- endif -%}

    {%- assign p = site.pages | where:"url",item_url | first -%}
    {%- if p.size > 0 -%}
      <a class="{{ c }}" href="{{ site.baseurl }}{{ p.url }}">
        {%- if p.icon -%}
        <svg><use xlink:href="/assets/sprites/{{ p.icon-set | default:"solid" }}.svg#{{ p.icon }}"></use></svg>
        {%- endif -%}
        {%- if p.nav_title -%}
          {{ p.nav_title }}
        {%- else -%}
          {{ p.title }}
        {%- endif -%}
      </a>
    {%- endif -%}

  {%- endfor %}
</nav>
