{%- assign day = include.day -%}
{% assign week = day | minus:1 | divided_by:5 | plus:1 %}
{% assign week_page = site.pages | where:"category","weeks" | where:"week",week | first %}
{%- assign date = include.date -%}
{%- assign date_xml = day | class_date: site.data.course.start_date | date_to_xmlschema -%}
{%- capture dow -%}{{ date_xml | date:"%A" }}{%- endcapture -%}
{%- capture dom -%}{{ date_xml | date:"%-d" }}{%- endcapture -%}
{%- assign next_day = day | plus:1 -%}
{%- assign previous_day = day | minus:1 -%}
{%- assign next = site.pages | where:"category","days" | where:"day",next_day | first -%}
{%- assign previous = site.pages | where:"category","days" | where:"day",previous_day | first -%}
<article>
  <div class="day-header">
    <header>
      <div class="section">
        <a href="{{ week_page.url }}">Week {{ week }}</a>
      </div>
      <h1>
        <time>
          <span class="weekday">{{ date | date: "%A" }}</span>
          <small class="date">{{ date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
        </time>
      </h1>
    </header>
    {% if previous or next -%}
    <nav class="nextprev">
      {% if next -%}
      <a class="next" href="{{ next.url }}">
        <time>
          <span class="weekday">{{ next.date | date: "%A" }}</span>
          <small class="date">{{ next.date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
        </time>
      </a>
      {%- endif %}
      {% if previous -%}
      <a class="prev" href="{{ previous.url }}">
        <time>
          <span class="weekday">{{ previous.date | date: "%A" }}</span>
          <small class="date">{{ previous.date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
        </time>
      </a>
      {%- endif %}
    </nav>
    {%- endif %}
  </div>
  {% include schedule/_single.html %}
</article>
