{%- assign day = include.day -%}
{% assign week = day | minus:1 | divided_by:5 | plus:1 %}
{%- assign date = include.date -%}
{%- assign date_xml = day | class_date: site.data.course.start_date | date_to_xmlschema -%}
{%- capture dow -%}{{ date_xml | date:"%A" }}{%- endcapture -%}
{%- capture dom -%}{{ date_xml | date:"%-d" }}{%- endcapture -%}
<article id="day-{{ date | date: "%-d-%B-%Y" }}">
  <header>
    <div class="main">
      <p class="label">
        Week {{ week }}
      </p>
    	<h1>
    		{{ date | date: "%A" }}
        <small>{{ date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
    	</h1>
    </div>
  </header>
  {% include schedule/_single.html %}
</article>
