<header class="page-header">

  <div class="info">
    <h1>
      <a href="{{ site.baseurl }}/">
        {% include logo.html %}
        <span class="vh">
          {{ site.data.course.abbreviation }}
          <small>{{ site.data.course.iteration }}</small>
        </span>
      </a>
    </h1>
	</div>

  <nav>
    <button id="menu-button" aria-expanded="false">Menu</button>
    <div id="menu">
      <button id="menu-close" aria-expanded="false">Close</button>
      {% include nav/site.html class="primary" items=site.data.course.nav %}
      {% include nav/site.html class="secondary" items=site.data.course.secondary_nav %}
      {% include nav/site.html class="secondary" items=site.data.course.meta_nav %}
    </div>
  </nav>

</header>

<script type="text/javascript">
  (function () {
    var button = document.getElementById('menu-button');
    var close = document.getElementById('menu-close');
    if (button) {
      button.addEventListener('click', function() {
        var expanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', !expanded);
        close.setAttribute('aria-expanded', !expanded);
      });
      close.addEventListener('click', function() {
        var expanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', !expanded);
        button.setAttribute('aria-expanded', !expanded);
      });
    }
  }());
</script>
