<div class="schedule">
  <nav id="daynav">
    <button disabled id="prev-day">Previous</button>
    <button disabled id="today">Today</button>
    <button disabled id="next-day">Next</button>
  </nav>
  <nav id="weeknav">
    <button disabled id="prev-week">Previous</button>
    <button disabled id="this-week">This Week</button>
    <button disabled id="next-week">Next</button>
  </nav>
{%- assign w = 0 -%}
{%- for day in (1..site.data.course.days) -%}
  {%- assign date_xml = day | class_date: site.data.course.start_date | date_to_xmlschema -%}
  {%- capture dow -%}{{ date_xml | date:"%A" }}{%- endcapture -%}
  {%- capture dom -%}{{ date_xml | date:"%-d" }}{%- endcapture -%}
  {%- unless dow == "Saturday" or dow == "Sunday" -%}
    {%- if dow == "Monday" -%}
      {% assign w = w | plus:1 %}
      <section
        data-week="{{ w }}"
        data-start="{{ date_xml }}"
        class="week week-{{ w }} {% cycle 'odd', 'even' %}"
      >
        <h2 class="weekheader">Week {{ w }}</h2>
        <div class="days">
          {%- endif -%}
            {% include schedule/_single.html %}
          {%- if dow == "Friday" -%}
        </div>
      </section>
    {%- endif -%}
  {%- endunless -%}
{%- endfor -%}
</div>
<script type="text/javascript">
  var today = new Date();

  // Buttons to navigate through the weeks
  var $schedule = document.querySelector('.schedule');

  var $days = document.querySelectorAll('.calendar-date');
  var $prevDay = document.getElementById('prev-day');
  var $today = document.getElementById('today');
  var $nextDay = document.getElementById('next-day');

  var $weeks = document.querySelectorAll('.week');
  var $prev = document.getElementById('prev-week');
  var $thisWeek = document.getElementById('this-week');
  var $next = document.getElementById('next-week');

  var currentDay = 0;
  var currentWeek = 0;

  function setCurrentDay(day) {
    currentDay = day;
    for (var i = 0; i < $days.length; i++) {
      $days[i].classList.remove('current');
    }
    $days[currentDay].classList.add('current');
    if (currentDay + 1 < $days.length) {
      $nextDay.disabled = false;
    } else {
      $nextDay.disabled = true;
    }
    if (currentDay > 0) {
      $prevDay.disabled = false;
    } else {
      $prevDay.disabled = true;
    }
    if (getDayOf(today) === currentDay) {
      $today.disabled = true;
    } else {
      $today.disabled = false;
    }
  }

  function nextDay() {
    if (currentDay + 1 < $days.length) {
      setCurrentDay(currentDay + 1)
    }
  }

  function prevDay() {
    if (currentDay > 0) {
      setCurrentDay(currentDay - 1)
    }
  }

  function navigateToToday() {
    navigateToDate(today);
  }

  function setCurrentWeek(week) {
    currentWeek = week;
    for (var i = 0; i < $weeks.length; i++) {
      $weeks[i].classList.remove('current');
    }
    $weeks[currentWeek].classList.add('current');
    if (currentWeek + 1 < $weeks.length) {
      $next.disabled = false;
    } else {
      $next.disabled = true;
    }
    if (currentWeek > 0) {
      $prev.disabled = false;
    } else {
      $prev.disabled = true;
    }
    if (getWeekOf(today) === currentWeek) {
      $thisWeek.disabled = true;
    } else {
      $thisWeek.disabled = false;
    }
  }

  function nextWeek() {
    if (currentWeek + 1 < $weeks.length) {
      setCurrentWeek(currentWeek + 1)
    }
  }

  function prevWeek() {
    if (currentWeek > 0) {
      setCurrentWeek(currentWeek - 1)
    }
  }

  function thisWeek() {
    navigateToDate(today);
  }

  // Set the week based on day's date
  function navigateToDate(date) {
    setCurrentDay(getDayOf(date));
    setCurrentWeek(getWeekOf(date));
  }

  function getDayOf(date) {
    if (date.getDay() === 6) { // Saturday
      date.setDate(date.getDate() + 2); // Monday after
    }
    if (date.getDay() === 0) { // Sunday
      date.setDate(date.getDate() + 1); // Monday after
    }
    for (var i = 0; i < $days.length; i++) {
      var thisDate = new Date($days[i].dataset.date);
      if (
        date.getYear() === thisDate.getYear()
        &&
        date.getMonth() === thisDate.getMonth()
        &&
        date.getDate() === thisDate.getDate()
      ) {
        return i;
      }
    }
    return 0;
  }

  function getWeekOf(date) {
    for (var i = 0; i < $weeks.length; i++) {
      var start = new Date($weeks[i].dataset.start); // Monday
      var end = new Date($weeks[i].dataset.start); // Monday
      start.setDate(start.getDate() - 2); // Saturday before
      end.setDate(end.getDate() + 5); // Saturday after
      if (date >= start && date < end) {
        return i;
      }
    }
    return 0;
  }

  function setToday(today) {
    // Highlight today
    var cells = document.querySelectorAll('.calendar-date');
    for (var i = 0; i < cells.length; i++) {
      var cell = cells[i];
      var date = new Date(cell.dataset.date);
      if (date.getYear() === today.getYear()) {
        cell.classList.add('this-year');
        if (date.getMonth() === today.getMonth()) {
          cell.classList.add('this-month');
          if (date.getDate() === today.getDate()) {
            cell.classList.add('today');
            // TODO: Show the month on the today cell
          }
        }
      }
    }
  }

  setCurrentDay(currentDay);
  setCurrentWeek(currentWeek);
  setToday(today);
  navigateToDate(today);

  $prevDay.addEventListener('click', prevDay);
  $today.addEventListener('click', navigateToToday);
  $nextDay.addEventListener('click', nextDay);

  $prev.addEventListener('click', prevWeek);
  $thisWeek.addEventListener('click', thisWeek);
  $next.addEventListener('click', nextWeek);

  $schedule.classList.add('js-interactive');

</script>
