body {
  background-color: var(--color-canvas);
  color: var(--black);
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: var(--font-size-600);
  line-height: 1.45;
}

a {
  color: inherit;
  border-bottom: 2px solid var(--goldenrod);
  text-decoration: none;
  &:hover {
    border-color: var(--pumpkin);
  }
}

a[href^="http"] {
  &::after {
    content: "↗";
    color: var(--pumpkin);
    font-family: var(--font-interface);
    font-size: var(--font-size-500);
    font-weight: 600;
    margin-left: var(--space-300);
  }
}

img {
  max-width: 100%;
}

small {
  color: var(--slate);
  font-family: var(--font-interface);
  font-size: 0.7em;
  font-weight: 500;
}

h1 {
  font-family: var(--font-display);
  font-size: var(--font-size-1000);
  font-weight: 900;
}

h1, h2, h3, h4 {
  small {
    display: block;
  }
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-700);
  font-weight: 700;
}

h3 {
  font-family: var(--font-display);
  font-size: var(--font-size-700);
  font-weight: 700;
}

ul {
  list-style: none;
  li {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: var(--indigo);
      position: absolute;
      left: calc(-1 * (var(--space-500) + var(--space-300)));
      top: 0.5em;
    }
  }
}

dl {
  dt {
    font-weight: 700;
  }
}

.vh {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important
}
