:root {
  --font-serif: "Source Serif Pro", Georgia, serif;

  --font-body: var(--font-serif);
  --font-heading: "CooperHewitt", system-ui, sans-serif;
  --font-display: var(--font-serif);
  --font-interface: "IBM Plex Sans", system-ui, sans-serif;
  --font-caption: "Inter", system-ui, sans-serif;
  --font-icon: "Inter", system-ui, sans-serif;
  --font-label: "Inter", system-ui, sans-serif;

  --transparent: transparent;
  --goldenrod: #ffc003;
  --pumpkin: #f58c0c;
  --indigo: #6018f0;
  --white: #ffffff;
  --pale: #eef2f6;
  --slate: #465967;
  --dark: #273039;
  --black: #000000;

  --color-canvas: var(--goldenrod);
  --color-page: var(--white);
  --color-page-shadow: #27303977;
  --color-page-header: var(--pale);
  --color-nav-link-background: var(--transparent);
  --color-nav-link-background--hover: var(--pumpkin);
  --color-nav-link-background--active: var(--indigo);

  --type-ratio: 1.2;
  --font-size-100: calc(var(--font-size-200) / var(--type-ratio));
  --font-size-200: calc(var(--font-size-300) / var(--type-ratio));
  --font-size-300: calc(var(--font-size-400) / var(--type-ratio));
  --font-size-400: calc(var(--font-size-500) / var(--type-ratio));
  --font-size-500: 16px;
  --font-size-600: calc(var(--font-size-500) * var(--type-ratio));
  --font-size-700: calc(var(--font-size-600) * var(--type-ratio));
  --font-size-800: calc(var(--font-size-700) * var(--type-ratio));
  --font-size-900: calc(var(--font-size-800) * var(--type-ratio));
  --font-size-1000: calc(var(--font-size-900) * var(--type-ratio));

  --space-ratio: 2;
  --space-100: calc(var(--space-200) / var(--space-ratio));
  --space-200: calc(var(--space-300) / var(--space-ratio));
  --space-300: calc(var(--space-400) / var(--space-ratio));
  --space-400: calc(var(--space-500) / var(--space-ratio));
  --space-500: 16px;
  --space-600: calc(var(--space-500) * var(--space-ratio));
  --space-700: calc(var(--space-600) * var(--space-ratio));
  --space-800: calc(var(--space-700) * var(--space-ratio));
  --space-900: calc(var(--space-800) * var(--space-ratio));
}
