:root {
  --font-source-serif: "Source Serif Pro", Georgia, serif;
  --font-faune: "Faune", system-ui, -apple-system, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --font-public: "Public Sans", system-ui, sans-serif;

  --font-body: var(--font-public);
  --font-heading: var(--font-faune);
  --font-display: var(--font-source-serif);
  --font-interface: var(--font-public);
  --font-caption: var(--font-public);
  --font-icon: var(--font-inter);
  --font-label: var(--font-public);

  --transparent: transparent;
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color-canvas: var(--royal);
  --color-page: var(--white);
  --color-nav-link: var(--white);
  --color-nav-link--hover: var(--white);
  --color-nav-link--active: var(--white);
  --color-nav-link-background: var(--transparent);
  --color-nav-link-background--hover: var(--plum);
  --color-nav-link-background--active: var(--plum);
  --color-surface-muted: var(--pale);
  --color-surface-loud: var(--plum);
  --color-stroke: var(--royal);
  --color-stroke-muted: var(--slate);
  --color-stroke--hover: var(--plum);
  --color-text: var(--black);
  --color-text-muted: var(--slate);
  --color-text-label: var(--royal);
  --color-indicator: var(--royal);
  --color-decoration: var(--plum);

  --type-ratio: 1.15;
  --font-size-100: calc(var(--font-size-200) / var(--type-ratio));
  --font-size-200: calc(var(--font-size-300) / var(--type-ratio));
  --font-size-300: calc(var(--font-size-400) / var(--type-ratio));
  --font-size-400: calc(var(--font-size-500) / var(--type-ratio));
  --font-size-500: 1rem;
  --font-size-600: calc(var(--font-size-500) * var(--type-ratio));
  --font-size-700: calc(var(--font-size-600) * var(--type-ratio));
  --font-size-800: calc(var(--font-size-700) * var(--type-ratio));
  --font-size-900: calc(var(--font-size-800) * var(--type-ratio));
  --font-size-1000: calc(var(--font-size-900) * var(--type-ratio));

  --space-ratio: 2;
  --space-100: calc(var(--space-200) / var(--space-ratio));
  --space-200: calc(var(--space-300) / var(--space-ratio));
  --space-300: calc(var(--space-400) / var(--space-ratio));
  --space-400: calc(var(--space-500) / var(--space-ratio));
  --space-500: 16px;
  --space-600: calc(var(--space-500) * var(--space-ratio));
  --space-700: calc(var(--space-600) * var(--space-ratio));
  --space-800: calc(var(--space-700) * var(--space-ratio));
  --space-900: calc(var(--space-800) * var(--space-ratio));
}
