$sans:        'IBM Plex Sans', system-ui, sans-serif;
$display:     'IBM Plex Sans Condensed', system-ui, sans-serif;
$serif:       'Source Serif Variable', 'Source Serif Pro', Charter, Georgia, serif;
$lh:          1.7;

$brand:       hsl(327, 100%, 95%);
$secondary:   hsl(260, 100%, 30%);
$neutral:     hsl(224, 12%, 98%);

$brand-100:   change-color($brand, $lightness: 90%);
$brand-200:   change-color($brand, $lightness: 80%);
$brand-300:   change-color($brand, $lightness: 70%);
$brand-350:   change-color($brand, $lightness: 65%);
$brand-400:   change-color($brand, $lightness: 60%);
$brand-450:   change-color($brand, $lightness: 55%);
$brand-500:   change-color($brand, $lightness: 50%);
$brand-550:   change-color($brand, $lightness: 45%);
$brand-600:   change-color($brand, $lightness: 40%);
$brand-650:   change-color($brand, $lightness: 35%);
$brand-700:   change-color($brand, $lightness: 30%);
$brand-800:   change-color($brand, $lightness: 20%);
$brand-900:   change-color($brand, $lightness: 10%);

$secondary-100:   change-color($secondary, $lightness: 90%);
$secondary-200:   change-color($secondary, $lightness: 80%);
$secondary-300:   change-color($secondary, $lightness: 70%);
$secondary-400:   change-color($secondary, $lightness: 60%);
$secondary-500:   change-color($secondary, $lightness: 50%);
$secondary-600:   change-color($secondary, $lightness: 40%);
$secondary-700:   change-color($secondary, $lightness: 30%);
$secondary-800:   change-color($secondary, $lightness: 20%);
$secondary-900:   change-color($secondary, $lightness: 10%);

$neutral-100:   change-color($neutral, $lightness: 90%);
$neutral-200:   change-color($neutral, $lightness: 80%);
$neutral-300:   change-color($neutral, $lightness: 70%);
$neutral-400:   change-color($neutral, $lightness: 60%);
$neutral-500:   change-color($neutral, $lightness: 50%);
$neutral-600:   change-color($neutral, $lightness: 40%);
$neutral-700:   change-color($neutral, $lightness: 30%);
$neutral-750:   change-color($neutral, $lightness: 25%);
$neutral-800:   change-color($neutral, $lightness: 20%);
$neutral-825:   change-color($neutral, $lightness: 17.5%);
$neutral-850:   change-color($neutral, $lightness: 15%);
$neutral-875:   change-color($neutral, $lightness: 12.5%);
$neutral-900:   change-color($neutral, $lightness: 10%);
$neutral-950:   change-color($neutral, $lightness: 5%);

$space-100:   1px;
$space-200:   2px;
$space-300:   4px;
$space-400:   8px;
$space-500:   16px;
$space-600:   32px;
$space-700:   48px;
$space-800:   60px;
$space-900:   100px;

$typespace-100:   0.125rem*$lh;
$typespace-200:   0.25rem*$lh;
$typespace-300:   0.325rem*$lh;
$typespace-400:   0.5rem*$lh;
$typespace-500:   0.75rem*$lh;
$typespace-600:   1rem*$lh;
$typespace-700:   1.25rem*$lh;
$typespace-800:   1.5rem*$lh;
$typespace-900:   2rem*$lh;

$gutter-xs:  $typespace-100;
$gutter-s:   $typespace-300;
$gutter-m:   $typespace-500;
$gutter-l:   $typespace-900;
