body {
	display: grid;
	grid-template-columns: auto 1fr;
	min-height: 100vh;
}

main {
	background: var(--color-page);
	box-shadow: calc(-1 * var(--space-400)) var(--space-400) 0 0 var(--color-page-shadow);

	margin: var(--space-500) var(--space-500) 0 0;
}
