main {
	background: var(--color-page);
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 60em) {
	body {
		background-color: var(--royal);
		display: grid;
		grid-template-columns: auto 1fr;
		min-height: 100vh;
	}

	main {
		box-shadow:
			calc(-1 * var(--space-400))
			var(--space-400)
			0
			0
			var(--color-page-shadow)
			;
		margin: var(--space-500) var(--space-500) 0 0;
		z-index: 3;
	}
}
