main {
	background: var(--color-page);
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 60em) {
	body {
		display: grid;
		grid-template-columns: auto 1fr;
		min-height: 100vh;
	}

	main {
		box-shadow: 0 0 var(--space-700) rgba(0,0,0,0.15);
	}
}
