{%- if slide.activity %}
<section class="activity cover">
  <div class="main">
    <p>Activity</p>
    <h2>{{ slide.title }}</h2>
  </div>
  {% include deck/footer.html %}
</section>
{% endif -%}
<section
  {%- if slide.activity and slide.class %} class="activity {{ slide.class }}"
  {%- elsif slide.class %} class="{{ slide.class }}"
  {%- elsif slide.activity %} class="activity"{% endif -%}
>
  <header>
    <div>
      {{ section.title }}
    </div>
  </header>
  <div class="main">
    {{ slide.title | markdownify | prepend: '<h2>' | append: '</h2>' }}
    {{ slide.body | markdownify }}
    {% if slide.activity %}
      <ol class="timed">
      {% for step in slide.activity %}
        <li>
          <strong>{{ step.duration }} min</strong>
          {{ step.direction | markdownify }}
        </li>
      {% endfor %}
      </ol>
    {% endif %}
  </div>
  {% include deck/footer.html %}
</section>
