:root {
  --border-radius-default: 3px;
  --color-grey-background: #EEE;
  --color-grey-stroke: #DDD;
  --color-text-default: #3b3c41;
  --color-text-red: #ff775c;
  --color-text-hover-red: #ef5638;
  --color-link: #5099de;
  --color-link-hover: #1679c4;
  --color-brand: #EB4748;
}

/* Layouts */

body {
  font-family: system-ui, sans-serif;
  color: var(--color-text-default);
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "main"
  ;
}

[role=banner] {
  background-color: white;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
  grid-area: header;
  z-index: 10;
}

#primary-nav {
  background: var(--color-grey-background);
  /* padding: 1em 1.15em .5em 1.5em; */
  border-right: 1px solid var(--color-grey-stroke);
  grid-area: sidebar;
  min-width: 180px;
  padding: 2em 2.5em .5em 2em;
}

main {
  grid-area: main;
  padding: 20px;
}

footer {
  background: var(--color-grey-background);
  padding: 20px;
  border-right: 1px solid var(--color-grey-stroke);
  border-top: 1px solid var(--color-grey-stroke);
  grid-area: footer;
}

.asided {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr auto;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px;
}

/* General */

a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
}

/* Components */

[role=banner] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
}
[role=banner] > nav {
  display: flex;
  align-items: center;
}
[role=banner] > nav > * {
  padding: 8px 16px;
}
[role=banner] > nav > *:first-child {
  border-right: solid 1px var(--color-grey-stroke);
}

.logo-tag {
  display: flex;
  align-items: center;
}
#logo {
  color: var(--color-brand);
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
}
#logo:hover {
  text-decoration: none;
}

.tagline span {
  color: var(--color-brand);
}

input {
  border: solid 1px #c3c4c7;
  border-radius: var(--border-radius-default);
  font-size: inherit;
  padding: 8px 16px;
}

.menu {
}
.menu ul {
  flex-direction: column;
  margin-bottom: 1.5em;
}
.menu li {
  margin-bottom: 0.25em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.menu li:last-child {
  margin-bottom: 0;
}
.menu a {
  color: inherit;
  display: block;
  padding: 0.25em 2em 0.25em 0.5em;
}
.menu a:hover, .menu .active a {
  font-weight: bold;
}

.card {
  background: var(--color-grey-background);
  border: 1px solid var(--color-grey-stroke);
  border-radius: var(--border-radius-default);
  padding: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.card header {
  width: 200px;
  margin: 0 auto 20px;
}
.card div {
  background-color: var(--color-link);
  padding: 10px;
  border-radius: var(--border-radius-default);
  width: 150px;
  margin: 1em auto;
}
.card div a {
  color: white;
  text-decoration: none;
}
.card div a:hover {
  color: white;
  text-decoration: none;
}
.card img {
  width: 75px;
}
.card p {
  line-height: 1.5em;
}

.card.hire {
  text-align: left;
  padding: 20px;
}
.card.hire a {
  text-decoration: none;
}
.card.hire a:hover {
  text-decoration: none;
}

.dismiss {
  text-align: center;
}
.dismiss a {
  color: var(--color-text-red);
  text-decoration: none;
}
.dismiss a:hover {
  text-decoration: none;
}

.tabs {
  margin-bottom: 32px;
}
.tabs ul {
  list-style: none;
  margin: 0 0 -2px;
  padding: 0;
  display: block;
}
.tabs li {
  border-bottom: 2px solid var(--color-grey-stroke);
  margin-right: 10px;
  margin-top: 0px;
  padding: 10px 0;
}
.tabs li:first-child {
  border-bottom: none;
  padding-bottom: 0;
}
.tabs a {
  display: block;
  padding: 8px 4px;
  font-size: 1em;
  color: var(--color-grey-stroke);
}
.tabs a:hover {
  color: #696b74;
}
.tabs .active a {
  border-bottom: 3px solid #1ec4b4;
  color: var(--color-text-default);
  padding-bottom: 10px;
}
.tabs small {
  background-color: var(--color-grey-background);
  margin-left: 5px;
  padding: 2px 10px;
  border-radius: 20px;
  width: 20px;
  color: var(--color-text-default);
}

.person {
  display: block;
  padding: 8px;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.5px solid var(--color-grey-stroke);
}
.person:hover {
  background-color: #EDF9FE;
  color: inherit;
}
.person article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0;
  align-items: center;
}
.person p {
  grid-column: 2 / 3;
  margin: 5px 0 20px;
}
.person img {
  border-radius: 50%;
  grid-row: 1 / 3;
  height: 65px;
  width: 65px;
}
.person h2 {
  font-size: inherit;
  font-weight: inherit;
}
.person mark {
  background: none;
  color: inherit;
  font-weight: bold;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
      "header   header"
      "sidebar  main"
      "footer   main"
    ;
  }

  main {
    padding: 60px;
  }

  .show-toggle {
    display: none;
  }

  .asided {
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
    width: 85%;
    margin: 0;
  }

  .tabs ul,
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .tabs li {
    margin-top: 10px;
    padding: 0;
  }
  .tabs a {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .tabs {
    width: 85%;
    border-bottom: solid 2px var(--color-grey-stroke);
  }
  .tabs li {
    border: none;
  }
  .tabs a:hover {
    border-bottom: 3px solid #bcede4;
  }

  .show-toggle {
    display: none;
  }
  .person {
    border-bottom: none;
  }
  .person article {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
  }
  .person img {
    grid-row: 1 / 2;
  }
  .person p {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .hide {
    display: none;
  }

  .show-toggle {
    display: inline;
    font-size: 1em;
    padding: 0 16px;
  }
}