---
---
@import 'fonts';

:root {
  --ratio: 1.35;
  --font: "Faune", system-ui, -apple-system, sans-serif;
  --lh: var(--s1);
  --lh-display: 1.2;
  font-size: calc(0.9rem + 1.2vmin);

  --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

  --transparent: transparent;
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color-canvas: var(--pale);

}

* {
  box-sizing: border-box;
}
body {
  background: var(--color-canvas);
  font-family: var(--font);
  font-variant: lining-nums;
  line-height: var(--lh);
  margin: 0;
  padding: 0;
}





h1, h2, h3, h4, h5, h6 {
  line-height: var(--lh-display);
  font-weight: bold;
}
h1 {
  font-size: var(--s3);
}
h2 {
  font-size: var(--s2);
}
h3 {
  font-size: var(--s1);
}
h4 {
  font-size: var(--s0);
}
h5, h6 {
  font-size: var(--s-1);
}
ul {
  list-style: square;
}
dt {
  font-weight: bold;
}
dl > * + dt {
  margin-block-start: var(--s0);
}
li + li {
  margin-block-start: var(--s-2);
}
li p {
  margin: 0;
}
li p + p {
  margin-block-start: var(--s-2);
}





article {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: block mandatory;
}
section {
  background: white;
  border: solid var(--s-3) var(--royal);
  min-height: 100vh;
  padding: var(--s-1);
  display: grid;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  scroll-snap-align: start;
}
section + section {
  margin-block-start: var(--s-2);
}
section > header {
  grid-area: header;
}
section > .main {
  grid-area: main;
}
section > footer {
  grid-area: footer;
}




section .main {
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
}
section .main > * {
  margin-block-start: 0;
}
section .main > * + * {
  margin-block-start: var(--s1);
}




section > header, section > footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--s-1);
}
section > header {
  font-weight: bold;
}
section > footer {
  padding-top: var(--s-4);
  position: relative;
}
section > footer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: solid 2px;
  opacity: 0.2;
}
section > :matches(header, footer) cite {
  font-style: normal;
}
section > :matches(header, footer) > * {
  display: flex;
  white-space: nowrap;
}
section > :matches(header, footer) > * > * + * {
  margin-inline-start: var(--s-2);
}





.cover {
  border: none;
}
.cover .main {
  text-align: center;
  max-width: none;
}
.cover .main > * {
  margin: 0;
}
.cover .main > * + * {
  margin-block-start: var(--s-3);
}
.front.cover {
  background: var(--plum);
  color: white;
}
.section.cover {
  background: var(--royal);
  color: white;
}
.activity.cover {
  background: tomato;
  color: white;
}
.cover p {
  font-weight: bold;
  letter-spacing: 0.075em;
  opacity: 0.7;
  text-transform: uppercase;
}




.rhetoric .main {
  text-align: center;
}




.activity {
  border-color: tomato;
}




.timed li {
  display: grid;
  grid-template-columns: 5em 1fr;
}
.timed li + li {
  margin-block-start: var(--s0);
}
.timed i {
  font-style: normal;
}
.timed p {
  margin: 0;
}
