---
layout: page
title: Topics
nav_title: Topics
permalink: /topics/
---

<dl>
{% for post in site.topics %}
  <dt class="hashtag">
    <a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </dt>
  <dd>
    {{ post.description | markdownify }}
    {% if post.see %}
  		{% assign see = site.topics | where: "title", post.see | first %}
  		{% if see %}
  			<p>See <a href="{{ see.baseurl }}{{ see.url }}">{{ see.title }}</a></p>
  		{% endif %}
  	{% endif %}
  </dd>
{% endfor %}
</dl>
