$border-color: $neutral-100;

table.calendar {
}
.calendar th {
  font-size: 0.9em;
  font-weight: 600;
  text-align: left;
  padding: 1em;
}
.calendar td.today .date { font-weight: 900; }
.calendar .date {
  font-size: 0.9em;
  font-weight: 700;
  overflow: hidden;
}

.calendar .today {
  background: $neutral-100;
}

.calendar .month {
  float: left;
  color: $neutral-300;
}
.calendar .day {
  float: right;
}
.calendar td {
  height: 12em;
  vertical-align: top;
  width: 20%;
  padding: 1.25rem;
  border-top: 1px solid;
  border-color: $border-color;
}
.calendar a {
  color: inherit;
  display: block;
	font-weight: 500;
  line-height: 1.3;
  margin: 0.5rem -1rem;
  padding: 1rem;
	transition: box-shadow 200ms;
  border-radius: 1rem;
  text-decoration: none;
  .label {
    font-size: 0.7em;
    color: $brand-600;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &:hover {
    background-color: white;
    box-shadow: 0 0 1em change-color($neutral-700, $alpha: 0.25);
  }
}
.calendar .project-due a {
  background: $brand-500;
  color: white;
  .label {
    color: inherit;
  }
  &:hover {
    background: $brand-600;
  }
}

.calendar a.day {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 2rem;
  line-height: inherit;
  color: inherit;
  &::before {
    display: none;
  }
  &:hover {
    color: #009;
    text-decoration: underline;
  }
}

@media screen and (min-width: 30em) {
  .calendar {
    margin: 0 -1rem;
  }
  .calendar th {
    font-size: 1.2em;
  }
  .calendar .date {
    font-size: 2em;
  }
}
