.card {
  & + & {
    margin-top: var(--space-400);
  }
  a {
    background-color: var(--pale);
    border: none;
    box-shadow:
      var(--space-200)
      var(--space-200)
      0
      0
      var(--white)
      ,
      var(--space-300)
      var(--space-300)
      0
      0
      var(--goldenrod)
      ;
    display: block;
    font-family: var(--font-interface);
    font-size: var(--font-size-500);
    padding: var(--space-400);
    margin-left: calc(-1 * var(--space-400));
    margin-right: calc(-1 * var(--space-400));
    &:hover {
      box-shadow:
        var(--space-200)
        var(--space-200)
        0
        0
        var(--white)
        ,
        var(--space-300)
        var(--space-300)
        0
        0
        var(--pumpkin)
        ;
    }
    &::after {
      display: none;
    }
    &[href^="http"] {
      &::before {
        content: "↗";
        color: var(--indigo);
        line-height: 1;
        float: right;
        margin-left: var(--space-400);
        margin-bottom: var(--space-400);
        font-family: var(--font-icon);
        font-size: var(--font-size-500);
        font-weight: 700;
        transform: translateX(2px);
      }
    }
    .label {
      color: var(--indigo);
      font-family: var(--font-label);
      font-size: var(--font-size-300);
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    h3 {
      font-family: inherit;
      font-size: inherit;
      font-weight: 600;
      line-height: 1.2;
    }
    .meta, .description {
      color: var(--slate);
      font-size: var(--font-size-300);
      margin-top: var(--space-300);
    }
  }
}
