.date {
  font-family: var(--font-caption);
  font-weight: 800;
  a {
    display: block;
    border: none;
    &:hover {
      .day {
        color: var(--color-text-label);
      }
    }
  }
  .weekday {
    display: block;
    color: var(--color-text-muted);
  }
  .day {

  }
  .month {
    color: var(--color-text-muted);
  }
}
