.page-footer {
  background: darken($secondary, 10%);
  color: white;
  padding: 1em 0.75em*$lh;
  p {
    margin: 0.25em*$lh 0;
  }
  a {
    color: inherit;
  }
}

@media screen and (min-width: 55em) {
	.page-footer {
		padding: 1em 2em*$lh;
    margin-top: 0;
	}
}
