.page-header {
  a {
    border: none;
  }
  .info {
    text-align: center;
    margin-right: var(--space-300);
    a {
      display: block;
      padding: var(--space-700) var(--space-600) var(--space-600);
    }
  }
  nav {
    a {
      svg {
        fill: currentColor;
        height: var(--font-size-500);
        width: var(--font-size-500);
        margin-right: var(--space-500);
      }
      color: var(--color-nav-link);
      display: block;
      font-size: var(--font-size-600);
      font-weight: bold;
      line-height: 1;
      padding: var(--space-400) var(--space-500);
      text-decoration: none;
      &:hover {
        background-color: var(--color-nav-link-background--hover);
        color: var(--color-nav-link--hover);
      }
      &.current {
        background-color: var(--color-nav-link-background--active);
        color: var(--color-nav-link--active);
      }
    }
    &.secondary {
      margin-top: var(--space-600);
      a {
        font-weight: normal;
      }
    }
  }
}
