.page-header {
  a {
    border: none;
  }
  .info {
    text-align: center;
    margin-right: var(--space-300);
    a {
      display: block;
      padding: var(--space-700) var(--space-600) var(--space-600);
    }
  }
  nav {
    a {
      color: inherit;
      display: block;
      font-family: var(--font-sans);
      font-size: var(--font-size-600);
      font-weight: bold;
      line-height: 1;
      padding: var(--space-400) var(--space-500);
      text-decoration: none;
      &:hover {
        background-color: var(--color-nav-link-background--hover);
        color: white;
      }
      &.current {
        background-color: var(--color-nav-link-background--active);
        color: white;
      }
    }
    &.secondary {
      margin-top: var(--space-600);
      a {
        font-family: var(--font-body);
        font-size: var(--font-size-500);
        font-style: normal;
        font-weight: normal;
        padding: var(--space-400) var(--space-500);
      }
    }
  }
}
