[class^='preview'] {
  font-family: var(--font-interface);
  font-size: var(--font-size-500);
  & + & {
    margin-top: 0;
  }
  > * + * {
    margin-top: var(--space-400);
  }
  > * + .tags {
    margin-top: var(--space-400);
  }
  a {
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    display: block;
    margin-bottom: -1px;
    margin-left: calc(-1 * var(--space-300));
    margin-right: calc(-1 * var(--space-300));
    padding: var(--space-400) var(--space-300);

    > * + * {
      margin-top: var(--space-400);
    }

    &[href^="http"] {
      &::after {
        display: none;
      }
    }

    &:hover {
      background-color: #F9F9F9;
      h3 .title {
        border-bottom: solid 2px var(--color-stroke--hover);
      }
    }

    &.strong, &.next, &.back, &[href^="http"] {
      &::before {
        content: '→';
        color: var(--color-indicator);
        float: right;
        font-family: var(--font-icon);
        font-size: var(--font-size-700);
        font-weight: 800;
        line-height: 1;
        margin-left: var(--space-300);
      }
    }

    &.back {
      h3::before {
        content: "←";
      }
    }

    &[href^="http"] {
      &::before {
        content: "↗";
      }
    }
  }

  .label {
    color: var(--color-text-label);
    font-family: var(--font-label);
    font-size: var(--font-size-400);
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .label + * {
    margin-top: 0;
  }

  h3 {
    line-height: 1.35;
  }

  header {
    color: var(--color-text);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    * + * {
      margin-left: var(--space-400);
    }

    time {
      font-family: var(--font-caption);
      font-weight: 600;
      color: var(--color-text-muted);
    }
  }

  .byline {
    color: var(--color-text);
    font-style: normal;
    font-weight: 500;
  }

  .author {
    font-weight: 700;
  }

  * + .source-url {
    margin-left: var(--space-300);
  }

  .source {
    color: var(--color-text);
    font-style: italic;
    font-weight: 500;
  }

  .source-title {
    font-style: normal;
  }

  .source-url {
    color: var(--color-text-muted);
    font-weight: 500;
  }
}

.preview--compact {
  .label {
    font-size: var(--font-size-300);
  }
  h3 {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.2;
  }
  .meta, .description {
    color: var(--color-text-muted);
    font-size: var(--font-size-300);
  }
  > * + * {
    margin-top: var(--space-100);
  }
  a {
    > * + * {
      margin-top: var(--space-100);
    }
    &.strong, &.next, &.back, &[href^="http"] {
      &::before {
        font-size: var(--font-size-600);
      }
    }
  }
  * + .source-url {
    margin-left: 0;
  }
  .source-url {
    display: block;
  }
}

.preview--shout {
  a {
    --color-text: var(--white);
    --color-text-muted: var(--white);
    --color-text-label: var(--white);
    --color-indicator: var(--white);
    --color-decoration: var(--white);
    --color-stroke--hover: var(--white);
    background-color: var(--royal);
    border-color: var(--royal);
    padding-left: var(--space-400);
    padding-right: var(--space-400);
    &:hover {
      background-color: var(--plum);
      border-color: var(--plum);
    }
  }
}
