.sidebar-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: var(--space-700);

  > * > * + * {
    margin-top: var(--space-500);
  }
  > * > * + h2 {
    margin-top: var(--space-700);
  }
  > * > * + h3 {
    margin-top: var(--space-600);
  }

}
