body.styleguide main {
  background-color: var(--color-surface-muted);
  > article {
    > {
      * {
        max-width: none;
      }
      header {
        --color-text: var(--black);
        background-color: var(--color-page);
        color: var(--color-text);
      }
    }
  }
}
