.tags {
  list-style: none;
  font-family: var(--font-interface);
  font-size: var(--font-size-500);
  font-weight: 400;
}

.tags li {
  display: inline;
  white-space: nowrap;
  + li {
    margin-left: var(--space-300);    
  }
  a {
    border: none;
    &:hover {
      border-bottom: solid 2px var(--goldenrod);
    }
  }
  &::before {
    display: inline;
    content: "# ";
    color: var(--pumpkin);
    font-weight: 600;
    width: auto;
    height: auto;
    background: none;
    position: static;
  }
}

.hashtag {
  &::before {
    color: var(--pumpkin);
    content: "# ";
    @media screen and (min-width: 55em) {
      display: block;
      float: left;
      margin-left: -0.75em;
      content: "#";
    }
  }
}
