.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .875em;
  font-weight: 500;
}

.tags li {
  display: inline;
  margin-right: 0.75em;
  white-space: nowrap;
  &::before {
    display: inline;
    content: "# ";
    color: $brand-500;
  }
}

.hashtag {
  &::before {
    color: $brand-500;
    content: "# ";
    @media screen and (min-width: 55em) {
      display: block;
      float: left;
      margin-left: -0.75em;
      content: "#";
    }
  }
}
