.week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  grid-gap: var(--space-600);
  .calendar-date {
    display: contents;
  }
  .today > * {
    background: transparent;
  }
  h2 {
    color: var(--slate);
    font-size: var(--font-size-400);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: var(--space-200);
  }
}
