.week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  grid-gap: var(--space-400);
  .calendar-date {
    display: contents;
  }
  .today > * {
    background: transparent;
  }
}
