<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/deck.css">
    <script>
      const setVh = () => {
      const vh = window.innerHeight * 0.01;

      document.documentElement.style.setProperty('--vh', `${vh}px`);
};

      window.addEventListener('load', setVh);
      window.addEventListener('resize', setVh);
    </script>
  </head>
  <body>
    <article>
      <section class="front cover">
        <div class="main">
          <h1>{{ page.title }}</h1>
          <p>{{ page.day | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</p>
        </div>
        <footer>
          <div>
            <strong>{{ site.data.course.abbreviation }} {{ site.data.course.city }}</strong>
            <time>{{ site.data.course.term }}</time>
          </div>
          <div>
            <cite>{{ site.data.course.teacher.name }}</cite>
          </div>
        </footer>
      </section>
      <section>
        <div class="main">
          <h2>Agenda</h2>
          <ol>
            {% for section in page.deck %}
              <li>{{ section.title | mardownify }}</li>
            {% endfor %}
          </ol>
        </div>
        {% include deck/footer.html %}
      </section>
      <section>
        <div class="main">
          <h2>Learning Objectives</h2>
          <ul>
            {% for item in page.objectives -%}
              <li>{{ item | markdownify | smartify }}</li>
            {%- endfor %}
          </ul>
        </div>
        {% include deck/footer.html %}
      </section>
      {% for section in page.deck %}
        <section class="section cover">
          <div class="main">
            <h2>{{ section.title | mardownify }}</h2>
          </div>
          {% include deck/footer.html %}
        </section>
        {% for slide in section.slides %}
          {% include deck/slide.html %}
        {% endfor %}
      {% endfor %}
    </article>
  </body>
</html>
