---
layout: default
---

<article>
	<h1 class="hashtag">
		{{ page.title | markdownify | strip_html | strip }}
	</h1>

	{% if page.see %}
		{% assign post = site.topics | where: "title", page.see | first %}
		{% if post %}
			<p>See <a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
		{% endif %}
	{% endif %}

	{{ page.description | markdownify }}

	{% assign lessons = site.lessons | where_exp:"item","item.topics contains page.title" | sort:'day' %}
	{% if lessons.size > 0 %}
		<h4>Lessons</h4>
		<ul>
		{% for post in lessons %}
			<li>
				<a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a>
				{% if post.due %}
					<small>due&nbsp;{{ post.due | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
				{% endif %}
				{% if post.day %}
					<small>{{ post.day | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% assign projects = site.projects | where_exp:"item","item.topics contains page.title" | sort:'due' %}
	{% if projects.size > 0 %}
		<h4>Projects</h4>
		<ul>
		{% for post in projects %}
			<li>
				<a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a>
				{% if post.due %}
					<small>due&nbsp;{{ post.due | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
				{% endif %}
				{% if post.day %}
					<small>{{ post.day | class_date: site.data.course.start_date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</small>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}

</article>

<aside id="nav">
	<h4>All Topics</h4>
	<ul>
	{% for post in site.topics %}
		<li{% if post.url == page.url %} class="current"{% endif %}>
			<a href="{{ post.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
</aside>
