---
layout: default
---
{%- assign next_week = page.week | plus:1 -%}
{%- assign previous_week = page.week | minus:1 -%}
{%- assign next = site.pages | where:"category","weeks" | where:"week",next_week | first -%}
{%- assign previous = site.pages | where:"category","weeks" | where:"week",previous_week | first -%}
<article>
  <div class="week-header">
    <header>
      <h1>Week {{ page.week }}</h1>
    </header>
    {% if previous or next -%}
    <nav class="nextprev">
      {% if next -%}
      <a class="next" href="{{ next.url }}">
        <span class="title">Week {{ next.week }}</span>
      </a>
      {%- endif %}
      {% if previous -%}
      <a class="prev" href="{{ previous.url }}">
        <span class="title">Week {{ previous.week }}</span>
      </a>
      {%- endif %}
    </nav>
    {%- endif %}
  </div>
  <div class="week">
  {% assign day_pages = site.pages | where:"category","days" | where:"week",page.week %}
  {% for day_page in day_pages %}
    {% include calendar/_single.html day=day_page.day %}
  {% endfor %}
  </div>
</article>
